{% extends 'base.html' %}

{% block title %}Guess The Song{% endblock %}

{% block content %}

<div class="mx-5 text-center row d-flex justify-content-center">
    {% from 'bootstrap5/form.html' import render_form %}
    <hr>
    <div>
        {% for l in lyric: %}
        <h5>{{ l }}</h5>
        {% endfor %}
    </div>
    <hr class="mt-1">
    <div class="my-3">
        {{ render_form(form, novalidate=True) }}
        <h4 class="mt-4">Score: {{ score }}/{{ qno }}</h4>
    </div>
    {% if result == 'Incorrect': %}
        <div style="color: #F45050; position: absolute; left:1px; bottom:100px">
            <h4 class="mt-5 mb-3">{{ result }}</h4>
            <h5>Correct Answer:</h5>
            <h4 class="h6">{{ correct_ans }}</h4>
        </div>
    {% elif result == 'Correct': %}
        <h4 class="mt-3 p-5" style="color: #1db954; position: absolute; left:8px; bottom:100px">{{ result }} Answer!!</h4>
    {% else: %}
        {{ pass }}
    {% endif %}

</div>
{% endblock %}

